<div id="myCarousel" class="carousel slide  mb-5" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div allign="center"> <img src="https://i.ibb.co/b6Mw6z2/Sucursales.jpg" width="100%" height="100%" class="imagen"
          alt="..."></div>
      <div class="container">

        <div class="carousel-caption" style="background-color: rgb(34, 49, 133); opacity: 90%;">

          <h1>Sucursales de Empresas</h1>
          <p style="color: white; text-decoration: solid; ">Aquí tendrás acceso a todas las sucursales de distintas
            empresas.</p>

        </div>

      </div>
    </div>
    <div class="carousel-item">
      <div allign="center"> <img src="https://i.ibb.co/DgNy9cr/empresas.jpg" width="100%" height="100%" class="imagen"
          alt="..."></div>
    </div>
    <div class="carousel-item">
      <div allign="center"> <img src="https://i.ibb.co/thX1FkZ/google.jpg" width="100%" height="100%" class="imagen"
          alt="..."></div>
      <div class="container">
        <div class="carousel-caption" style="background-color: rgb(34, 49, 133); opacity: 90%;">
          <h1>¿Quieres ver las empresas?</h1>
          <p>¿Qué estas esperando? !Hz clic aquí!</p>
          <p><a class="btn btn-lg btn-danger" routerLink="/dashboard">Ir al Dashboard</a></p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="container marketing">

  <div class="row">
    <div class="col col-lg-4 mx-auto">
      <div allign="center"> <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Walmart_Spark.svg/1925px-Walmart_Spark.svg.png"
          class="imagen bd-placeholder-img rounded-circle" width="155" height="150" alt="..."></div>

      <h2>Supermercados</h2>
      <p>Establecimiento comercial de venta al por menor que ofrece bienes de consumo en sistema de autoservicio. </p>
      <p><a class="btn btn-danger">Detalles &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <div allign="center"> <img src="https://1000marcas.net/wp-content/uploads/2019/11/McDonalds-logo.png" width="270"
          height="150" class="imagen" alt="..."></div>

      <h2>Restaurantes</h2>
      <p>Empresas como lo son los restaurantes, empresas completamente fundamentales para la alimentación de una
        persona.</p>
      <p><a class="btn btn-danger">Detalles &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <div allign="center"> <img
          src="https://s3.amazonaws.com/lahora.prod/file/2022/02/22171402/WhatsApp-Image-2022-02-22-at-5.09.23-PM.jpeg"
          width="150" height="150" class="imagen bd-placeholder-img rounded-circle" alt="..."></div>
      <h2>Bancos</h2>
      <p>Empresas financieras que aceptan depósitos del público y crea depósitos a la vista, lo que coloquialmente se
        denominan cuentas bancarias.</p>
      <p><a class="btn btn-danger">Detalles &raquo;</a></p>
    </div>
  </div>

  <hr class="featurette-divider mb-5">
  <h1 class="ejemplos mb-5">Algunas Empresas a Modo de Ejemplo:</h1>
  <div class="row featurette mb-5">
    <div class="col-md-7 ">
      <h2 class="featurette-heading">McDonald's <span class="text-muted">Restaurante</span></h2>
      <p class="lead">Franquicia de restaurantes de comida rápida. Sus principales productos son las hamburguesas, las
        patatas fritas, los menús para el desayuno y los refrescos. </p>
    </div>
    <div class="col-md-5">
      <div allign="center"> <img src="https://1000marcas.net/wp-content/uploads/2019/11/McDonalds-logo.png" width="700"
          height="400" class="imagen" alt="..."></div>

    </div>
  </div>

  <hr class="featurette-divider mb-5">

  <div class="row featurette mb-5">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Banco Industrial <span class="text-muted">Banco</span></h2>
      <p class="lead">Es una organización financiera de próxima Guatemala y una de las más grandes a nivel
        Centroamericano. En la actualidad ofrece servicios a través de una red de más 1,600 puntos de servicio en toda
        la República de Guatemala, así como acceso electrónico desde cualquier lugar del mundo.</p>
      <p><a class="btn btn-danger">Más Información &raquo;</a></p>
    </div>
    <div class="col-md-5 order-md-1">
      <div allign="center"> <img
          src="https://play-lh.googleusercontent.com/-BT6h_wJlNzso1aIjYDnhu3OsDGWEwd-TgSm4-FAN2qnei13LsLifHlufQmO_6nhO87T"
          width="450" height="420" class="imagen" alt="..."></div>

    </div>
  </div>

</div>
<div
  class="footer d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-8 px-5 px-xl-5 bg-danger">
  <div class="asado text-white mb-3 mb-md-0 ">
    Copyright © 2022. Todos los Derechos Reservados por el Grupo 1.
  </div>
