body {
  background-color: #1db96b;
  color: ##1db96b;
}

.footer {
  padding: 10px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.asado {
  text-align: center;
  margin: auto;
}
